<div class="home">
    <!-- Parallax header with animated elements -->
    <header class="header">
        <div class="logo"
            [appScrollAnimation]="translateY"
            [animationProps]="{ factor: 2 }">
        </div>
        <div class="background-bird"
                [appScrollAnimation]="translateY"
                [animationProps]="{ factor: 4 }">
        </div>
        <div class="foreground-bird"
            [appScrollAnimation]="translateY"
            [animationProps]="{ factor: -40 }">
        </div>
    </header>

    <section class="section">
        <article>
            <div class="text-content">
                <h1>Unique Style</h1>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.</p>
                <hr>
            </div>

            <!-- Parallax landing elements -->
            <div class="grid">
                <div class="cell" *ngFor="let img of constants.MODELS_IMGS; let i = index">
                    <figure appScrollAnimation
                        (scrolledOver)="setFigureState($event, i)"
                        [checkIfScrolled]="true"
                        [ngClass]="{'isShowing': figuresState[i]}">
                        <img class="image" [src]="img">
                    </figure>
                </div>
            </div>

            <div class="text-content">
                <h1>Clothing Store</h1>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.</p>
                <hr>
            </div>

            <div class="periscope">

            </div>



        </article>
    </section>



    <footer>
    </footer>
</div>

