$header-height: 600px;
$logo-height: 100px;
$bird-width: 960px;
$bird-bg-image: '../../../assets/images/bird-bg.jpg';
$bird-logo-image: '../../../assets/images/black-bird-logo.svg';
$fore-bird-image: '../../../assets/images/fore-bird.png';
$back-bird-image: '../../../assets/images/back-bird.png';

.header {
    position: relative;
    height: $header-height;
    background-image: url($bird-bg-image);
    background-size: auto $header-height;
    background-position: top center;
    background-attachment: fixed;
    overflow: hidden;

    .logo {
        position: absolute;
        top: 50%;
        height: $logo-height;
        width: 100%;
        margin-top: -$logo-height / 2;
        background-image: url($bird-logo-image);
        background-position: center;
        background-repeat: no-repeat;
    }

    .foreground-bird {
        position: absolute;
        left: 60%;
        top: 300px;
        width: $bird-width;
        height: 733px;
        margin-left: -$bird-width / 2;
        background-image: url($fore-bird-image);
        background-repeat: no-repeat;
        background-position: right bottom;
    }

    .background-bird {
        position: absolute;
        left: 50%;
        height: 298px;
        width: $bird-width;
        margin-left: -$bird-width / 2;
        background-image: url($back-bird-image);
        background-repeat: no-repeat;
    }
}
