$header-height: 600px;
$logo-height: 100px;
$bird-width: 960px;

.home {
    position: relative;
    width: 100%;
    .header {
        position: relative; // header will be an anchor for contained elements
        height: $header-height;
        background-image: url('../../../assets/images/bird-bg.jpg');
        background-size: auto $header-height;
        background-position: top center;
        background-attachment: fixed;
        overflow: hidden;

        .logo {
            position: absolute;
            height: $logo-height;
            width: 100%;
            background-image: url('../../../assets/images/black-bird-logo.svg');
            background-position: center;
            background-repeat: no-repeat;
            top: 50%;
            margin-top: -$logo-height / 2;
        }

        .foreground-bird {
            position: absolute;
            width: $bird-width;
            height: 733px;
            background-image: url('../../../assets/images/fore-bird.png');
            background-repeat: no-repeat;
            background-position: right bottom;
            left: 60%;
            top: 300px;
            margin-left: -$bird-width / 2;
        }

        .background-bird {
            position: absolute;
            height: 298px;
            width: $bird-width;
            background-image: url('../../../assets/images/back-bird.png');
            background-repeat: no-repeat;
            left: 50%;
            margin-left: -$bird-width / 2;
        }
    }

  .section {
    padding: 50px 15%;
    margin-bottom: 700px;

    .grid {
        display: flex;
        flex-wrap: wrap;
        > .cell {
          width: 33.33333333333%;

            > figure {
                position: relative;
                margin: 20px;
                opacity: 0;
                transform: translateX(100px);
                transition: all 0.3s ease-in-out;
                overflow: hidden;

                &.isShowing {
                    opacity: 1;
                    transform: translateX(0px);
                }

                &:hover {
                    figcaption {
                        left: 0%
                    }

                    img {
                        transform: scale(1.2);
                    }
                }
            }

            > figure > figcaption {
                position: absolute;
                bottom: 10px;
                left: -100%;
                transition: all 0.3s ease-in-out;
                background: black;
                color: white;
                padding: 2px 8px;
                font-size: 11px;
            }

            > figure > img {
                display: block;
                width: 100%;
                transform: scale(1);
                transition: all 0.3s ease-in-out;
            }
        }
    }
  }
}
