<div class="home">
    <!-- Parallax header with animated elements -->
    <parallax-header></parallax-header>

    <section class="section">
        <article>
            <div class="text-content">
                <h1>Unique Style</h1>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.</p>
                <hr>
            </div>

            <!-- Parallax landing elements -->
            <div class="grid">
                <div class="cell" *ngFor="let model of constants.MODELS_DATA; let i = index">
                    <figure appParallax
                        (scrolledOver)="setFigureState($event, i)"
                        [checkIfScrolled]="true"
                        [ngClass]="{'isShowing': figuresState[i]}">
                        <img class="image" [src]="model.img">
                        <figcaption>{{model.name}} - <strong>$</strong>{{model.price}}</figcaption>
                    </figure>
                </div>
            </div>

            <div class="text-content">
                <h1>Clothing Store</h1>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.</p>
                <hr>
            </div>

            <!-- Parallax persicope -->
            <div class="periscope"
                [appParallax]="movePersicopeBackgroundUp"
                (scrolledOver)="setPeriscopeState($event)"
                [checkIfScrolled]="true"
                [animationExtras]="{ isBeingScrolled: periscopeState, factor: 3 }">
                <div class="promo-content">
                    <p class="text">Fall Suits <strong><span>from </span>$99</strong></p>
                    <a class="shop-now">Shop Now</a>
                </div>
            </div>
        </article>
    </section>

    <footer>
    </footer>
</div>

